<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Contacts App</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="styles/main.css">
    </head>
<body ng-app = "ContactsApp">
<!-- NAVIGATION  -->
<div ng-controller="NavCtrl">
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">
      <button ng-click="toggle()">Add Contact</button>
    </a>
    <a href="#">
      <button ng-click="newGroup()">Add Group</button>
    </a>
  </div>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; options</span>

  <!-- NEW CONTACT INPUT -->
  <div class="row">
    <div ng-show="addContactView">
      <form>
        <div class="container">
          <div class="form-group">
            <div class="col-xs-4">
              <h1>New Contact</h1>
              <input type="text" class="form-control" placeholder="Name" ng-model="user.name" required>
              <input type="email" class="form-control" placeholder="Email" ng-model="user.email" required>
              <div class="form-group phone-number">
                <div class="col-xs-3">
                  <input type="tel" name="phone" class="form-control" value="" size="3" maxlength="3" required title="" placeholder="Phone" ng-model="user.phone">
                </div>
                <div class="col-xs-3">
                  <input type="tel" name="phone" class="form-control" value="" size="3" maxlength="3" required title="" ng-model="user.phone">
                </div>
                <div class="col-xs-4">
                  <input type="tel" name="phone" class="form-control" value="" size="4" maxlength="4" required title="" ng-model="user.phone">
                </div>
                <div>
                  <button type="button" class="btn btn-primary btn-md" ng-click="">Add to Group</button>
                </div>
                <div>
                  <button type="button" class="btn btn-primary btn-md" ng-click="reset()">Reset</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <pre>user = {{user | json}}</pre>
      <pre>master = {{master | json}}</pre>
    </div>
  </div>
</div>
</div>

<!-- HOME OF CONTACTS -->
<div ng-controller="TodoCtrl">


  <form>
    <div class="container">
      <div class="form-group">
        <div class="col-xs-4">
          <h1>New Contact</h1>
          <input type="text" class="form-control" placeholder="Name" ng-model="user.name" required>
          <input type="email" class="form-control" placeholder="Email" ng-model="user.email" required>
          <div class="form-group phone-number">
            <div class="col-xs-3">
              <input type="tel" name="phone" class="form-control" value="" size="3" maxlength="3" required title="" placeholder="Phone" ng-model="user.phone">
            </div>
            <div class="col-xs-3">
              <input type="tel" name="phone" class="form-control" value="" size="3" maxlength="3" required title="" ng-model="user.phone">
            </div>
            <div class="col-xs-4">
              <input type="tel" name="phone" class="form-control" value="" size="4" maxlength="4" required title="" ng-model="user.phone">
            </div>
            <div>
              <button type="button" class="btn btn-primary btn-md" ng-click="addNewContact()">Add to Contacts</button>
            </div>
            <div>
              <button type="button" class="btn btn-primary btn-md" ng-click="reset()">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div ng-show="homeView">
    <div class="panel-body">
      <div class="row" id="cards">
        <div class="card card-block" style="width: 100%;">
          <!-- <h3 class="card-header">{{thing.name}}</h3> -->
          <div class="col-sm-4" ng-repeat="thing in items">
            <h3 class="card-title">{{thing.name || 'empty'}}</h3></div>
          <div class="col-sm-4" ng-repeat="thing in items">
            <p class="card-text">{{thing.address || 'empty'}}</p>
          </div>
          <div class="col-sm-4" ng-repeat="thing in items">
            <p class="card-text">{{thing.email || 'empty'}}</p>
          </div>
          <div class="col-sm-4" ng-repeat="thing in items">
            <p class="card-text">{{thing.phone || 'empty'}}</p>
          </div>
          <a href="#" class="btn btn-primary" ng-click="addGroup()">Add to Group</a>
          <a href="#" class="btn btn-primary" ng-click="editContact()">Edit</a>
        </div>
      </div>
    </div>
    <!-- GROUP DISPLAY -->
    <!-- <div ng-show="!addGroupView"> -->
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4">.col-sm-4</div>
        <div class="col-sm-4">.col-sm-4</div>
        <div class="col-sm-4">.col-sm-4</div>
      </div>
    </div>
  </div>
       
        <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
        <script type="text/javascript" src="/lib/bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/lib/bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="/javascripts/app.js"></script>
        <script type="text/javascript" src="/javascripts/AppConstants.js"></script>
        <script type="text/javascript" src="/javascripts/AppConfig.js"></script>
        <script type="text/javascript" src="/javascripts/factories/itemFactory.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/NavCtrl.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/TodoCtrl.js"></script>
    </body>
</html>



